img {
    width:200px;
}
body{
    text-align:center;
    font-family:arial;
}
.button{
    background-color: blue;
    color: red;
    border:2px solid red;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.button2{
    background-color:yellow;
    color:red;
    border: 2px solid red;
    padding: 15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    cursor:pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.button:hover{
    background-color:red;
    color:blue;
    border-color: blue;
}
.button2:hover{
    background-color:red;
    color:yellow;
    border-color:yellow;
}